<div class="chat-wrapper">
  <section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card">
            <div
              class="card-header d-flex justify-content-between align-items-center p-3 styled-border-top"
            >
              <h5 class="mb-0">{{ this.salaAtual }}</h5>
              <span>
                <ng-icon
                  name="heroArrowUturnLeft"
                  class="cursor-pointer"
                  ngbTooltip="Sair da sala"
                  size="20"
                  (click)="this.leaveRoom()"
                ></ng-icon>
              </span>
            </div>
            <div class="card-body" style="position: relative; height: 600px">
              <div *ngFor="let mensagem of this.mensagens">
                <ng-container
                  *ngIf="
                    mensagem.joiningAutor || mensagem.leavingAutor;
                    else mensagemRecebida
                  "
                >
                  <div class="text-center mb-2">
                    <strong class="text-primary">
                      {{ mensagem.autor }}
                    </strong>
                    {{ mensagem.joiningAutor ? "entrou" : "saiu" }}
                    às
                    <span class="text-muted">
                      <span class="small">
                        {{ mensagem.data | date : "HH:mm" }}
                      </span>
                    </span>
                  </div>
                </ng-container>

                <ng-template #mensagemRecebida>
                  <ng-container
                    *ngIf="
                      mensagem.autor !== this.autorLogado;
                      else mensagemEnviada
                    "
                  >
                    <div class="d-flex flex-row justify-content-start">
                      <img
                        src="../../assets/user-icon.png"
                        alt="avatar 1"
                        style="width: 45px; height: 100%"
                      />
                      <div>
                        <p class="small p-2 ms-3 rounded-3 other-messages">
                          <span class="d-flex flex-column">
                            <strong>{{ mensagem.autor }}</strong>
                            <span>
                              {{ mensagem.texto }}
                            </span>

                            <small class="text-muted text-end">{{
                              mensagem.data | date : "HH:mm"
                            }}</small>
                          </span>
                        </p>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>

                <ng-template #mensagemEnviada>
                  <div class="d-flex flex-row justify-content-end mb-0 pt-0">
                    <div>
                      <p
                        class="small p-2 me-3 mb-1 text-white rounded-3 bg-warning d-flex flex-column"
                      >
                        <span>
                          {{ mensagem.texto }}
                        </span>

                        <small class="text-warning-emphasis text-end">{{
                          mensagem.data | date : "HH:mm"
                        }}</small>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <div
              class="card-footer text-muted d-flex justify-content-start align-items-center p-3"
            >
              <div class="input-group mb-0">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="this.texto"
                  placeholder="Digite a mensagem"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                  (keyup.enter)="this.sendMessage()"
                />
                <button
                  class="btn btn-warning"
                  type="button"
                  id="button-addon2"
                  style="padding-top: 0.55rem"
                  ente="this.sendMessage()"
                  (click)="this.sendMessage()"
                >
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
