<div class="register-wrapper">
  <section>
    <form [formGroup]="this.form" (submit)="this.register()" class="w-100">
      <h1>Registrar-se</h1>
      <div class="inputbox">
        <input type="text" formControlName="name" />
        <label for="">Nome</label>
      </div>
      <div class="inputbox">
        <input type="email" formControlName="email" />
        <label for="">Email</label>
      </div>
      <div class="inputbox">
        <input type="password" formControlName="password" />
        <label for="">Senha</label>
      </div>
      <div class="forget text-white">
        <div class="d-flex">
          <input id="remember-me" type="checkbox" />
          <label class="d-flex align-items-center ms-1" for="remember-me"
            >Lembrar de mim</label
          >
        </div>
      </div>
      <button class="register-btn" type="submit">Registrar</button>
      <div class="login">
        <p>Já possui conta? <a [routerLink]="['']">Faça login!</a></p>
      </div>
    </form>
  </section>
</div>
